<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 
   <div class="field">
    <%= f.text_field :title, placeholder: "Titulo", class:"form-control"%>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: "Escribe aquí el artículo", style:"height:250px; width:100%", class:"form-control" %> 
  </div>

  <div class="field">
    <label>Categorias</label>
      <% @categories.each do |category| %>
        <div class="field">
        <%= check_box_tag "categories[]", category.id %> <%= category.name %>
        </div>
      
    <% end %>
  </div>
  
<%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>
 
  

