<% unless @article.user.nil? %>

<p>
	Escrito por: <%= @article.user.email %>
</p>
<% end %>
<div class="field">
	<% @article.categories.each do |category| %>
	<%= link_to category.name, category,style:"color:#{category.color};" %>
	
	<% end %>
<p>
	Visitas: <%= @article.visits_count %>
</p>
<div>
	<%= @article.body %>
</div>

<div class="field">
	<h3>Comentarios</h3>
	<%= render "comments/form" %>
	<ul>
	  <% @article.comments.each do |comment| %>
		<li>
		  <%= comment.user.email %> <br>
		  <h4><%= comment.body %> </h4>
		</li>
	  <%end%>
	</ul>

</div>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Volver', articles_path %>
